<!DOCTYPE html>
<html lang="en">
<head>
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <main>
    <div class="hero-banner">
        {{ $hero := resources.Get "images/hero.jpg" }}
        {{ $hero := $hero.Resize "1600x q60" }}
        <img class="hero-banner-image" src="{{$hero.RelPermalink}}" alt="Image of the interior of a kitchen">
<span class="photo-credit">Photo by <a href="https://unsplash.com/@rarchitecture_melbourne?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">R ARCHITECTURE</a></a>
  </span>
      <div class="headshot-container">
        {{ $headshot := resources.Get "images/headshot.jpg" }}
        {{ $headshot := $headshot.Resize "400x" }}
        <img class="headshot-container-image" width="{{$headshot.Width}}" height="{{$headshot.Height}}" src="{{$headshot.RelPermalink}}" alt="Headshot of Amber Will">
      <ul class="icons">
        <li class="icon">
          <a href="https://www.facebook.com/amberwillhomes" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
          </a>
        </li>
        <li class="icon">
          <a href="mailto:info@amberwill.homes">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
          </a>
        </li>
        <li class="icon">
          <a href="tel:+9319948090">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5"  width="16" height="16">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
</svg>

          </a>
        </li>
      </ul>
      </div>
    </div>

    <div class="agency-info">
      <h2>Amber Will</h2>
      <h3>Realtor&reg;</h3>
    </div>

    <p class="bio"> 
    Newer to the real estate industry but no stranger to customer service, I've spent the last 16 years dedicated to making other's needs my priority.
    Born and raised right here in Western Middle Tennessee, I can provide extensive knowledge of the area, offer down to Earth opinions,
    and give some peace of mind to one of life's biggest undertakings.
    </p>

    <p class="bio">
    As a certified Pricing Strategy Advisor, I can determine the right asking price or offer amount for the
    property with thorough research and analysis of local market conditions and recent sales in the area.
    I've personally been on both sides of real estate transactions, buying and selling my own properties.
    I know what to expect and will provide exceptional attention to detail and transparency through the entire process!
    </p>

    <section class="iframe">
      <p>Use the Realtracs&reg; search below to find listings in your area.</p>
      <iframe src="https://www.realtracs.com/listings/search;searchOpen=true?propertyClasses=Residential&propertySubTypes=SINGL;ZERO;MODUL;MANUF;MOBIL;HPR-A;HPR-D" frameborder="0"></iframe>
    </section>
    </div>
    {{/* 
  <!-- Listings
    CSV is in the following order:
    1. personal
    2. type
    3. street address
    4. city/state/zip
    4. image_url
    5. sqft
    6. acerage
    7. price
    8. room_count
    9. bath_count
  <section class="properties">
    <h2>My Listings</h2>
    {{$listings := getCSV "," "https://docs.google.com/spreadsheets/d/1Hsa_uUy1BQp1nhDXwBVZiGf1LzRgwnvRKhbPcphK-to/export?exportFormat=csv" }}
    {{$final_listings := newScratch}}

    {{range after 1 $listings}}
      {{if eq (index . 0) "TRUE"}}
        {{$final_listings.Add "my_listings" (slice .)}}
      {{else}}
        {{$final_listings.Add "lee_realty_listings" (slice .)}}
      {{end}}
    {{end}}

    {{if $final_listings.Get "my_listings"}}
      <ul class="listings">
        {{range ($final_listings.Get "my_listings") }}
          {{$type := index . 1}}
          {{$street := index . 2}}
          {{$address := index . 3}}
          {{$image_url := index . 4}}
          {{$external_link := index . 5}}
          {{$price := index . 6}}
          {{$room_count := index . 7}}
          {{$bath_count := index . 8}}
          {{$acerage := index . 9}}
          {{$sqft := index . 10}}
          <li class="listing">
            <a href="{{$external_link}}">
            {{$img := resources.GetRemote $image_url}}
            {{$img := $img.Resize "500x q60"}}
            <h3>{{$price}}</h3>
            <img src="{{$img.RelPermalink}}" alt="Property Image">
            <div class="listing-info">
              <ul>
                <li>{{$street}}</li>
                <li>{{$address}}</li>
              </ul>
              <ul>
                {{if eq $type "residential"}}
                <li>{{$room_count}} bedrooms</li>
                <li>{{$bath_count}} bath</li>
                {{end}}
                {{if ne $type "land"}}
                  <li>{{$sqft}} sqft</li>
                {{end}}
                <li>{{$acerage}} acres</li>
              </ul>
            </div>
           </a>
          </li>
        {{end}}
      </ul>
    {{else}}
      <p>I don't have any current listings but be sure to check out the listings from Lee Realty below.</p>
      <p><a class="link" rel="noopner" href="mailto:info@amberwill.homes">Email</a>,
      <a class="link" rel="noopner" href="tel:9319948090">call</a>, or
      <a class="link" href="tel:9319948090">text</a> me for more info or to schedule a showing!</p>
    {{end}}

  </section>

  <section class="properties">
    <h2>Lee Realty Listings</h2>
    {{if $final_listings.Get "lee_realty_listings"}}
      <ul class="listings">
        {{range ($final_listings.Get "lee_realty_listings") }}
          {{$type := index . 1}}
          {{$street := index . 2}}
          {{$address := index . 3}}
          {{$image_url := index . 4}}
          {{$external_link := index . 5}}
          {{$price := index . 6}}
          {{$room_count := index . 7}}
          {{$bath_count := index . 8}}
          {{$acerage := index . 9}}
          {{$sqft := index . 10}}
          {{$listing_agent_name := index . 11}}
          {{$listing_agent_broker := index . 12}}
          {{$listing_agent_phone := index . 13}}
          {{ warnf $street }}
          <li class="listing">
            <a href="{{$external_link}}">
            {{$img := resources.GetRemote $image_url}}
            {{$img := $img.Resize "500x q60"}}
            <h3>{{$price}}</h3>
            <img src="{{$img.RelPermalink}}" alt="Property Image">
            <div class="listing-info">
              <ul>
                <li>{{$street}}</li>
                <li>{{$address}}</li>
              </ul>
              <ul>
                {{if eq $type "residential"}}
                <li>{{$room_count}} bedrooms</li>
                <li>{{$bath_count}} bath</li>
                {{end}}
                {{if ne $type "land"}}
                  <li>{{$sqft}} sqft</li>
                {{end}}
                <li>{{$acerage}} acres</li>
              </ul>
              <ul class="listing-agent-info">
                <li>Listing courtesy of {{$listing_agent_name}}</li>
                <li>{{$listing_agent_broker}}</li>
                <li>{{$listing_agent_phone}}</li>
              </ul>
            </div>
            </a>
          </li>
        {{end}}
      </ul>
    {{else}}
      <h1>no listings</h1>
    {{end}}
  -->
*/}}
  </section>
  <section class="footer">
    <div class="lee-realty">
      {{ $realty_logo := resources.Get "images/benchmark-realty-logo.jpg" }}
      {{ $realty_logo := $realty_logo.Resize "150x75" }}
      <img src="{{$realty_logo.RelPermalink}}" alt="Logo for Benchmark Realty">
      <div class="info">
        <span><a href="tel:615-446-2006">615.510.3006</a><span>
        <span>7618 Hwy 70 S Suite 102<span>
        <span>Nashville, TN 37221<span>
      </div>
    </div>
    <div class="junk">
      <p class="disclaimer">Information deemed reliable but not guaranteed.</p>
      <p class="disclaimer">Buyers should independently verify all information
      prior to submitting any offer to purchase.</p>
      <div class="logos">
        {{ $mls_logo := resources.Get "images/mls-logo.jpg" }}
        {{ $mls_logo := $mls_logo.Resize "50x" }}
        <img src="{{$mls_logo.RelPermalink}}" alt="Logo Multiple Listing Service">
        {{ $eh_logo := resources.Get "images/equal-housing-logo.jpg" }}
        {{ $eh_logo := $eh_logo.Resize "15x" }}
        <img src="{{$eh_logo.RelPermalink}}" alt="Logo Equal Housing Opportunity">
      </div>
    </div>
  </section>
</body>
</html>
